#first{
    color: #187e4b;
    font-size: 50px;
}
#ten{
    font-size:50px ;
    color: rgb(61, 19, 128);
    /* background-color: rgb(104, 65, 175); */
    left: 50%;
text-align: center;
}
#chi{
    color: rgb(35, 197, 148);
}
#second{
    color: rgb(24, 179, 63);
    font-size: 20px;
}
#tbt{
    color: rgb(185, 51, 156);
    width: 15em;
}
html{
    background-image: url(https://i.pinimg.com/564x/cb/c2/2c/cbc22ca5a3d7568a742262639a9f6b3f.jpg);
    max-width: 500px;
    background-color: rgb(47, 177, 65);
}
.heart {
    width: 200px;
    height: 200px;
    top: 10%;
    left: 32%;
    right: 100%;
    z-index: 1;
    display: block;
    position: absolute;
    transform: translate(-50%,-50%);
    animation: heart 1s ease infinite
  }
  
  @keyframes heart {
    96% {
      transform: translate(-50%,-50%) scale(.8,.8)
    }
  
    100% {
      transform: translate(-50%,-50%) scale(1,1)
    }
  }
  
  .heart div {
    background: rgb(255, 0, 0);
    width: 71px;
    height: 126px;
    top: 40px;
    display: block;
    position: absolute;
    border-radius: 50%
  }
  
  .left {
    left: 45px;
    transform: rotate(330deg);
  }
  
  .right {
    right: 45px;
    transform: rotate(30deg);
  }
